@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

/*header*/
:root {
    --color1-bg-color: #1B241C;
    --color2-bg-color: #5CC465;
    --color3-bg-color: #f6f6f6;
    --color4-bg-color: #143617;
    --color5-bg-color: #5A755D;
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--color4-bg-color);
    box-sizing: border-box;
}

.header-container {
    height: 100vh;
    width: 100%;
    background-image: url(img/fundo1.png);
    background-size: 25% 25vh;
    background-repeat:repeat-y;
    background-color: var(--color3-bg-color);
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}
header > .photo{
    position: absolute;
    right: 10%;
    background-image: url(img/foto1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 60vh;
    width: 30%;
    z-index: 0;
}
header > .text{
    z-index: 1;
}

.header-container h1{

    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 5em;
}
.header-container h2{
    letter-spacing: 0.5rem;
    font-size: 1em;
}

.header {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    width: 75%;
    height: 10vh;
    justify-content:space-between;
    padding: 25px 0%;
    font-size: 1.5em;
    z-index: 5;
    
}

.header > .logo{
    margin-left: 2vw;
}
.header > .logo h3{
    color: var(--color4-bg-color); 
}

.header > .menus{
    margin-right: 2vw;
}

nav > div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5em;
}
nav > div > a {
    text-decoration: none;
    transition: .4s ease-out;
    
}
nav > div > a:hover {
    letter-spacing: 0.5rem;
}


/*Main*/

main{
    background-color: var(--color4-bg-color);
}