@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

/*header*/
:root {
    --color1-bg-color: #1B241C;
    --color2-bg-color: #5CC465;
    --color3-bg-color: #f6f6f6;
    --color4-bg-color: #143617;
    --color5-bg-color: #5A755D;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 100%;
    background-image: url(img/fundo1.png);
    background-size: 25% 25vh;
    background-repeat:repeat-y;
    background-color: var(--color3-bg-color);
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
    color: var(--color4-bg-color);
}

header > .photo{
    position: absolute;
    right: 10%;
    background-image: url(img/foto1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 60vh;
    width: 30%;
    z-index: 0;
}

header > .text{
    z-index: 1;
}

header h1{

    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 5em;
}

header h2{
    letter-spacing: 0.5rem;
    font-size: 1em;
}

.header-top {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    width: 75%;
    height: 10vh;
    justify-content:space-between;
    padding: 25px 0%;
    font-size: 1.5em;
    z-index: 5;
    
}

.header-top > .logo{
    margin-left: 2vw;
}
.header-top > .logo h3{
    color: var(--color4-bg-color); 
}

.header-top > .menus{
    margin-right: 2vw;
}

nav > div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5em;
}
nav > div > a {
    color: var(--color4-bg-color);;
    text-decoration: none;
    transition: .4s ease-out;
    
}
nav > div > a:hover {
    letter-spacing: 0.5rem;
}


/*Main*/

main{
    background-color: var(--color4-bg-color);
    
}

/*sections*/
section{
    width: 100%;
    height: 75vh;
}

.sec1{
    background-color: var(--color4-bg-color);
    color: var(--color3-bg-color);
    display: flex;
    flex-direction:column;
}

.sec2{
    background-color: var(--color3-bg-color);
    color: var(--color4-bg-color);
}

/*sections 1*/
.horizontal-cards {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.horizontal-cards > .card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 2%;
    position: relative;
    color: var(--color3-bg-color);
    transition: .6s ease-in-out;
}

.horizontal-cards > .card > h1{
    text-transform: uppercase;
    transition: .6s ease-in-out;
    font-size: 1.7em;
    letter-spacing: 0.4rem;
}
.horizontal-cards > .card > h2{
    position: absolute;
    font-size: 1.2em;
    transition: .1s ease-in-out;
    opacity: 0;
    bottom: 32vh;
 }

.card.first{
    text-align: start;
    align-items: flex-start;
    width: 33.33%;
    background-image: url(img/FundoCard1.png);
    background-size: 1000px 100%;
    background-repeat: no-repeat;
    color: var(--color3-bg-color);
}
.card.second{
    text-align: center;
    align-items: center;
    width: 33.33%;
    background-image: url(img/FundoCard2.png);
    background-position: center;
    background-size: 1000px 100%;
    background-repeat: no-repeat;
    color: var(--color3-bg-color);
}
.card.third{
    text-align: end;
    align-items:end;
    width: 33.33%;
    background-image: url(img/FundoCard3.png);
    background-position:right;
    background-size: 1000px 100%;
    background-repeat: no-repeat;
    color: var(--color3-bg-color);
}

.card:hover{
    width: 80%;
}

.card:hover h2{
    opacity: 1;
    transition: 1.5s;
    transition-timing-function: cubic-bezier(1,0,.63,.85);
}
.card:hover h1{
    letter-spacing: 1rem;
    transition: 1.5s;
}
/*sections 2*/