.home-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
}
.home-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 12;
    width: fit-content;
}